.my-photo-container {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
  }

  p, .photo-count {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
  }

  .photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .photo-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover .photo-info {
      opacity: 1;
      visibility: visible;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .photo-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      font-size: 14px;
      text-align: left;
      box-sizing: border-box;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;

      p {
        margin: 5px 0;
      }

      strong {
        color: #ffcc00;
      }
    }
  }
}
