@import 'style/variables';


$spinner-top: 1.25rem;
$spinner-right: 1.25rem;
$spinner-z-index: 9999;
$message-display-duration: 0.5s;

#map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  transition: width 0.3s ease, left 0.3s ease;
  z-index: 0;
}

.ol-zoom {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
  
  .ol-zoom-in,
  .ol-zoom-out {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 1.25rem;
    
    &:hover {
      background-color: #0056b3;
    }
  }
}

#spinner {
  position: absolute;
  top: $spinner-top;
  right: $spinner-right;
  z-index: $spinner-z-index;
}

.hidden {
  display: none;
}

.topic-researched {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  z-index: 990;
  text-align: center;
  font-size: 1rem;
  color: #333;
  border: 1px solid #007bff;
}

.marker {
  position: relative;
  width: 110px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.marker:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.marker-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.marker-username {
  font-size: 12px;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.marker-image {
  height: 110px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.marker-topics {
  text-align: center;
  font-size: 12px;
  color: #333;
  overflow-wrap: break-word;
}

.cluster {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  transform: translate(-50%, -50%);
}


.no-photos-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  z-index: 990;
  text-align: center;
  font-size: 1rem;
  color: #333;
  border: 1px solid #007bff;
  transition: opacity $message-display-duration ease-in-out;
  pointer-events: none;
}

@media (max-width: 768px) {
  .ol-zoom {
    display: none;
  }
}